:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    height: 100vh;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    font-family: Figtree, sans-serif;
}

@font-face {
    font-family: Figtree, sans-serif;
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf); 
    font-weight: 500 800;
}

#container {
    background-color: var(--white);
    height: 50;
    width: 30vw;
    min-width: 440px;
    border-radius: 30px;
    padding: 2vh;
    box-shadow: 10px 10px 1px var(--gray-950);
    border: 2px solid var(--gray-950);
}

#bg {
    background-image: url(./assets/images/illustration-article.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(30vw - 2 * 2vh);
    min-width: calc(440px - 2 * 2vh);
    height: 23vh;
    margin: auto;
    border-radius: 5%;
}

#status {
    background-color: var(--yellow);
    width: 6em;
    margin-top: 2vh;
    margin-bottom: 1vh;
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    border-radius: 7%;
    font-weight: bold;
}

#message {
    font-weight: bold;
}

#text {
    color: var(--gray-500);
}

#status, #message {
    color: var(--gray-950);
}

#footer {
    display: flex;
    align-items: center;
    padding: 1vh;
    font-weight: bold;
}

#footer img {
    width: 4em;
    display: inline-block;
}

#footer #name {
    margin-left: 1em;
}

#footer #name, #status, #message, #text {
    text-shadow: 0.1px 0.1px 0.1px var(--gray-950);
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    #container {
        width: 80vw;
        height: 70vh;
        min-width: 300px;
        min-height: 375px;
    }

    #bg {
        width: calc(80vw - 2 * 2vh);
        min-width: 0;
    }
    
}